{% extends 'base.html' %}
{% load static %}
{% block title %}Об авторе{% endblock %}
{% include 'includes/header.html' %}
{% block content %}
<h1>Пару слов обо мне!</h1>
<h4>Привет!</h4>
<p>Меня зовут Сергей! Давно с воторгом смотрел  на людей, которые "лёгким движением руки"
    создают порой удивительные вещи!</p>
<p>Очень долго думал, что этот удел точно не для меня,
    что нужно обладать какой-то особенной ментальностью, чтобы в этом хоть
    что-то понимать!
    Долго подбирал курсы, мои изыскания в итоге привели меня на сайт stepik.org,
    где я попробовал Python и после этого выбор первого языка для изучения был сделан!</p>
<p>Начался новый этап: мучителньный выбор курсов, которые бы помогли мне стать
    бекэнд разработчиком на Python. Сейчас понимаю, что с выбором не ошибся,
    когда чаша весов первесила в пользу Яндекс.Практикума.
Благодаря команде Яндекса я начал разбираться в хитросплетениях языка и логике
    программирования, у меня даже появилась своя страница
    <a href="https://github.com/petrovi-4/">GitHub</a> ,
    которой я активно пользуюсь в своём обучении, хотя раньше не догадывался
    о том, для чего он нужен!</p>
<p>Иногда бывают моменты, когда опускаются руки и понимаю, что ничего не понимаю!
    В такие моменты не обошелся бы без поддержки своих близких. Жена всегда поддержит,
    поможет отвлечься и не зацикливаться, а котик просто участливо посмотрит и скажет: "Мя!"</p>
   <div class="block">
    <img src='{% static 'img/my_wife.jpg' %}'>
    <img src='{% static 'img/catt.jpg' %}'>
    </div>
{% endblock %}
