{% extends "base.html" %}
{% load static %}
{% block title %}Технологии{% endblock %}
{% block content %}
{% comment %} Колонки с отступом сверху и снизу {% endcomment %}
<div class="row">
  <h1>Самую малость про мои умения</h1>
  {% comment %}
    Боковой блок со списком технологий
    Займет всю ширину блока на мобильном
    и 25% при размерах экрана ≥768px
  {% endcomment %}
  <aside class="col-12 col-md-3">
    <ul class="list-group list-group-flush">
      <li class="list-group-item">
        Python
      </li>
      <li class="list-group-item">
        Django
      </li>
      <li class="list-group-item">
        HTML
      </li>
    </ul>
  </aside>
  {% comment %}
    Статья
    Займет всю ширину блока на мобильном
    и 75% при размерах экрана ≥768px
  {% endcomment %}
  <article class="col-12 col-md-9">
    <p>На данный момент, пока немного технологий, которые я научился применять в
        практике, но думаю, что всё ещё впереди и я освою не только необходимый
        минимум, но и много больше!</p>
<p>Сейчас местами HTML вызывает "боль", что на мой взгляд только
    подтверждает правильность моего выбора в пользу backend разработки.
    Но так же было и с типами данных, функциями, базами данных, библиотеками,
    ООП, git и даже PyCharm по началу вызывал какой-то ужас и непонимание!</p>
<p>Поделюсь с тобой, дорогой друг, своим рабочим местом, за которым последнее
    время провожу значительно больше времени, чем раньше!
    Что удивительно для меня, даже просидев за обучением несколько часов подряд,
    хочется ещё и ещё. Разработка это безумно интересно, хоть иногда и весьма не просто.</p>
<div class="block">
    <img src='{% static 'img/workspace.jpg' %}'>
    </div>
  </article>


</div>
{% endblock %}